{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GuezGuez Med.Tarek</title>

	<!-- Meta Data -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="author" content="GuezGuez Mohamed Tarek">
    <meta name="description" content="GuezGuez Mohamed Tarek">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets\images\favicons\apple-touch-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets\images\favicons\apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets\images\favicons\apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets\images\favicons\apple-touch-icon-57x57.png' %}">
	<link rel="shortcut icon" href="{% static 'assets\images\favicons\favicon.png' %}" type="image/png">

    <!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets\styles\style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets\styles\style-dark.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets\demo\style-demo.css' %}">
	
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
	    <div class="preloader__wrap">
		    <div class="circle-pulse">
                <div class="circle-pulse__1"></div>
                <div class="circle-pulse__2"></div>
            </div>
		    <div class="preloader__progress"><span></span></div>
		</div>
	</div>

    <main class="main">
	    <!-- Header Image -->
		<div class="header-image">
		    <div class="js-parallax" style="background-image: url({% static 'assets/img/image_header.jpg' %});"></div>
		</div>
		
	    <div class="container gutter-top">
		    <!-- Header -->
		    <header class="header box">
			    <div class="header__left">
				    <div class="header__photo">
					    <img class="header__photo-img" src="{% static 'assets\img\main-photo.jpg' %}" alt="GuezGuez Med.Tarek">
					</div>
					<div class="header__base-info">
					    <h4 class="title titl--h4">GuezGuez Med.Tarek</h4>
						<div class="status">Fullstack developer</div>
						<ul class="header__social">
						    <li><a href="https://www.facebook.com/tarak.guezguez/" target="blank"><i class="font-icon icon-facebook1"></i></a></li>
							<li><a href="https://www.instagram.com/tarekguezguez/" target="blank"><i class="font-icon icon-instagram1"></i></a></li>
							<li><a href="https://github.com/tarek2050" target="blank"><i class="font-icon icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="header__right">
				    <ul class="header__contact">
					    <li><span class="overhead">Email</span>tarekgzgz@gmail.com</li>
						<li><span class="overhead">Phone</span>+216 50266252</li>
					</ul>
					<ul class="header__contact">
					    <li><span class="overhead">Birthday</span>24 January, 1997</li>
						<li><span class="overhead">Location</span>Sousse , Tunisia</li>
					</ul>
				</div>
			</header>
			
                
{% block content %}
{% endblock %}

            </div>
        </div>	
    </main>

    <!-- SVG masks -->
    <svg class="svg-defs">
        <clippath id="avatar-box">
            <path d="M1.85379 38.4859C2.9221 18.6653 18.6653 2.92275 38.4858 1.85453 56.0986.905299 77.2792 0 94 0c16.721 0 37.901.905299 55.514 1.85453 19.821 1.06822 35.564 16.81077 36.632 36.63137C187.095 56.0922 188 77.267 188 94c0 16.733-.905 37.908-1.854 55.514-1.068 19.821-16.811 35.563-36.632 36.631C131.901 187.095 110.721 188 94 188c-16.7208 0-37.9014-.905-55.5142-1.855-19.8205-1.068-35.5637-16.81-36.63201-36.631C.904831 131.908 0 110.733 0 94c0-16.733.904831-37.9078 1.85379-55.5141z"></path>
        </clippath>
        <clippath id="avatar-hexagon">
            <path d="M0 27.2891c0-4.6662 2.4889-8.976 6.52491-11.2986L31.308 1.72845c3.98-2.290382 8.8697-2.305446 12.8637-.03963l25.234 14.31558C73.4807 18.3162 76 22.6478 76 27.3426V56.684c0 4.6805-2.5041 9.0013-6.5597 11.3186L44.4317 82.2915c-3.9869 2.278-8.8765 2.278-12.8634 0L6.55974 68.0026C2.50414 65.6853 0 61.3645 0 56.684V27.2891z"></path>
        </clippath>		
	</svg>
	
	<script>
		function myNameFunction() {
            document.getElementById("id_Name").value = document.getElementById("nameContact").value;
        }

        function myEmailFunction() {
            document.getElementById("id_Email").value = document.getElementById("emailContactx").value;
		}
		
		function myMessageFunction() {
            document.getElementById("id_Message").value = document.getElementById("messageContact").value;
        }
	</script>

    <!-- JavaScripts -->
    <script src="{% static 'assets\js\jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'assets\js\plugins.min.js' %}"></script>
    <script src="{% static 'assets\js\common.js' %}"></script>

    <script src="{% static 'assets\demo\plugins-demo.js' %}"></script>
</body>
</html>